body {
  background-color: rgb(61, 63, 63);
}
h1 {
  color: rgb(163, 163, 192);
  text-align: center
}
p {
  color: rgb(218, 164, 164);
  text-align: center
}
a:link {
  color: rgb(169, 194, 169);
  background-color: transparent;
  text-decoration: none;
}
li {
  text-align: center
}